{% extends "base.html" %}
{% block content %}

<div class="min-h-screen md:min-h-0 flex flex-col justify-start pt-10">

    <h1 class="text-2xl font-bold text-indigo-800 mb-6">
        Enter Your Details
    </h1>

    <form method="POST" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}

        <button
            class="w-full mt-4 p-3 rounded-xl text-white font-semibold
                   bg-gradient-to-r from-indigo-900 to-indigo-600">
            Submit Attendance
        </button>
    </form>

</div>

{% endblock %}
